@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Page header */
.page-header {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  background-color: #ffe17f;
}

.header-logo-link {
  margin-top: -20px;
  margin-left: 60px;
  margin-bottom: 20px;
  margin-right: auto;
  display: block;
  width: 145px;
  cursor: pointer;
}

/* Navigation */
.navigation {
  width: 1040px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 60px;
}


.navigation-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.navigation-list:first-of-type {
  margin-bottom: 30px;
}

.navigation-list:last-of-type {
  height: 50px;
  align-items: center;
}

.navigation-item {
  line-height: 21px;
}

.navigation-list-advantages {
  width: 472px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-list-advantages .navigation-link {
  width: 73px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-login {
  width: 230px;
}

.name-login {
  padding-left: 27px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  background-image: url("..//images/header/enter.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.login-escape {
  opacity: 0.3;
  text-decoration: none;
}

.navigation-capabilities {
  width: 240px;
}

.login,
.user-capabilities {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.compare-icon {
  padding-left: 22px;
  line-height: 30px;
  background-image: url("..//images/header/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.navigation-search {
  width: 517px;
  display: flex;
}

.navigation-input-search {
  width: 359px;
  height: 40px;
  padding-top: 8px;
  padding-left: 48px;
  padding-bottom: 8px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: #ffe17f;
  background-image: url("..//images/header/search.svg");
  background-repeat: no-repeat;
  background-position: 14px 10px;
  border-right: 0;
}

.navigation-input-search::placeholder {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}


.search-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 54px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  text-decoration: none;
  color: #000000;
}

.navigation-list:first-of-type .navigation-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.shop-cart-user {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: capitalize;
  border: 0;
  cursor: pointer;
  padding-left: 25px;
  background-image: url("..//images/header/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.product-catalog {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  width: 293px;
  letter-spacing: 0.2em;
  text-align: start;
}

/* Gallery */
.gallery-item-number {
  position: absolute;
  z-index: -1;
  color: #ffffff;
  background-color: #ffe17f;
  width: 1040px;
  padding-top: 19px;
  padding-left: 70px;
  padding-right: 50px;
  text-align: end;
  vertical-align: bottom;
  font-size: 180px;
  font-weight: 700;
  line-height: 135px;
  height: 121px;
}

.gallery {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  width: 1160px;
}

.slider-button {
  width: 20px;
  height: 60px;
  align-self: center;
  position: absolute;
  cursor: pointer;
  margin-top: 211px;
  margin-bottom: 289px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-prev {
  margin-left: 30px;
  background-image: url("../images/slider/arrow-prev.svg");
}

.slider-next {
  margin-left: 540px;
  background-image: url("..//images/slider/arrow-next.svg");
}

.gallery-image-title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 560px;
  margin-top: 0;
  margin-bottom: 29px;
  padding: 0;
}

.gallery-item {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.slider-description {
  width: 560px;
  margin-top: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.device {
  width: 560px;
  height: 560px;
  display: flex;
}

.gallery-image-description {
  margin-top: 0;
  margin-bottom: 51px;
  color: #444444;
}

.button-more-detailed {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  height: 40px;
  width: 220px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  padding: 8px 23px;
  position: relative;
}


.button-more-detailed::before {
  content: "";
  width: 100%;
  height: 8px;
  left: 0;
  top: 15px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
}

.button-more-detailed:hover::before  {
  height: 40px;
  top: 0;
}

.button-more-detailed:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.button-more-detailed:active::before {
  background-color: #FFCC33;
}

.block-more-detailed {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 49px;
}

.slider-disc {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  margin-right: 20px;
  padding: 5px;
  box-sizing: border-box;
}

.button-disc {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-disc:last-child {
  margin-right: 0;
}

.button-disc:hover{
  opacity: 0.6;
}

.slider-disc:focus-within  {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.button-disc:active{
  opacity: 0.3;
}

.button-disc:last-child {
  margin-right: 0;
}

.button-disc-current {
  cursor: pointer;
  background-color: #000000;
}

.characteristics-device {
  margin: 0;
  display: grid;
  row-gap: 12px;
  column-gap: 20px;
  justify-items: flex-start;
}

.characteristics-device dd{
  margin: 0;
  font-size: 36px;
  line-height: 30px;
  grid-row: 1/2;
}

.characteristics-device dt {
  font-size: 16px;
  color: #444444;
  font-weight: 700;
  grid-row: 2/3;
}

/* Service */
.service-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1160px;
  margin-bottom: 70px;
}

.service-item {
  width: 160px;
}


.service-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}



/* <-- Service items : ...-->*/
.box  {
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 32px;
}

.box:hover {
  background-color: #FFC700;
}

.service-link:focus{
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.service-item:active {
  opacity: 0.3;
}
.glasses-virtual-reallity {
  background-image: url("..//images/glasses-virtual-reallity.svg");
}

.selfie-stick {
  background-position: bottom;
  background-image: url("..//images/selfie-stick.svg");
}

.action-camera {
  background-image: url("..//images/action-camera.svg");
}

.fitness-bracelet {
  background-image: url("..//images/fitness-bracelet.svg");
}

.watch {
  background-image: url("..//images/watch.svg");
}

.quadrocopter {
  background-image: url("..//images/quadrocopter.svg");
}

.service-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  letter-spacing: -0.02em;
}

.service-image {
  color: #000000;
  background-color: #ffe17f;
}


/* List */
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Advantages */
.advantages {
  margin-top: 172px;
  margin-bottom: 70px;
  padding: 0;
  height: 289px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.advantages .wrapper {
  margin-top: -102px;
  height: 319px;
}

.advantages-list {
  height: 319px;
  width: 280px;
  display: flex;
  flex-direction: column;
  border-right: 7px solid #000000;
}


.advantages-item {
  position: relative;
  z-index: 1;
  align-items: center;
  display: flex;
  align-content: center;
}


.advantages-item:first-child {
  margin-top: 62px;
  margin-bottom: 50px;
}

.advantages-item:last-child {
  margin-top: 55px;
  margin-bottom: 0;
}

.advantages-title {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.advantages-text {
  margin: 0;
  padding: 0;
  width: 475px;
  color: #444444;
}

.advantages-description {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-left: 116px;
  margin-bottom: auto;
  width: 729px;
  justify-content: space-between;
}

.advantages-image-delivery {
  margin-right: 63px;
}

/* Button */
button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}




.button-advantages {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  width: 160px;
  height: 40px;
  letter-spacing: 0.2em;
  padding: 8px 23px;
  position: relative;
}

.button-advantages::before {
  content: "";
  width: 160px;
  height: 8px;
  left: 0;
  top: 15px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
}

.button-advantages:hover::before {
  height: 40px;
  top: 0;
}

.button-advantages:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.button-advantages:active::before {
  background-color: #FFCC33;
}

.button-active {
  width: 160px;
  height: 40px;
  top: -10px;
  left: 0;
  vertical-align: center;
}

.advantages-item .button-active {
  background-color: #000000;
  color: #ffe17f;
  width: 100%;
  padding-right: 120px;
  letter-spacing: 0.2em;
  text-align: center;
}

.button-active:hover {
  color: rgba(255, 225, 127, 0.5);
}

.advantages-item .button-active:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.button-active:active {
  color: rgba(255, 225, 127, 0.3);
}

.transport-company-list {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 30px;
  line-height: 20px;
  color: #000000;
  list-style-type: none;
}

.transport-company-item {
  position: relative;
  padding-left: 34px;
  margin-bottom: 19px;
}

.transport-company-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #FFCC33;
  border-radius: 50%;
  top: 6px;
  left: 0;
}

.button-delivery {
  margin-bottom: 70px;
  padding: 0;
  width: 1160px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button-delivery:hover .icon-delivery-car {
  background-color: #FFCC33;
}

.button-delivery:hover .icon-explation {
  opacity: 1;
}

.button-delivery:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.button-delivery:active {
  opacity: 0.3;
  box-shadow: none;
}

.icon-delivery-car {
  width: 125px;
  height: inherit;
  background-image: url("..//images/icon-car-delivery.svg");
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center center;
}

.delivery-text {
  max-width: 910px;
  flex-grow: 1;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
}

.icon-explation {
  margin: 30px auto;
  width: 40px;
  height: 40px;
  background-image: url("..//images/icon-explanation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  opacity: 0.3;
}

/* About us and Contact */
.container-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  width: 520px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts {
  width: 532px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.about-us-description,
.contact-description {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-us-title,
.contact-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 47px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-title::after,
.contact-title::after {
  content: "";
  width: 84px;
  height: 7px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000000;
}

.about-us-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  width: 270px;
  height: 40px;
  letter-spacing: 0.2em;
  padding: 8px 23px;
  position: relative;

}
.contact-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  height: 40px;
  width: 259px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  padding: 8px 23px;
  position: relative;
}

.contact-link::before,
.about-us-link::before {
  content: "";
  width: 100%;
  height: 8px;
  left: 0;
  top: 15px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
}

.contact-link:hover::before,
.about-us-link:hover::before {
  height: 40px;
  top: 0;
}

.contact-link:focus,
.about-us-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.contact-link:active::before,
.about-us-link:active::before {
  background-color: #FFCC33;
}

.contact-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  color: #444444;
  font-size: 24px;
}

.contact-addres-text {
  margin: 0;
  padding: 0;
  max-width: 509px;
}

.contact-phone {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contact-phone:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}
.contact-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

/* Mailing */
.mailing {
  display: flex;
  padding-top: 64px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f0f0;
}

.mailing-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:  144px;
}

.mailing-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
}

.mailing-text {
  margin: 0;
  padding: 0;
  width: 560px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.input-email {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  width: 557px;
  height: 63px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
  background-color: inherit;
  padding-top: 11px;
  padding-left: 16px;
  padding-bottom: 11px;
}

.submit-email {
  margin-bottom: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.button-subscribe {
  margin: 0;
  box-sizing: border-box;
  width: 253px;
  padding: 18px 39px;
  letter-spacing: 0.2em;
  border: 3px solid #C4C4C4;

}

.mailing-form {
  display: flex;
  align-items: center;
  width: 810px;
}

.signature-free {
  position: relative;
  margin-left: auto;
  padding-left: 32px;
  align-self: center;
  color: #444444;
}
.signature-free::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  left: 0;
  background-image: url("..//images/icon-confirmation.svg");
  background-repeat: no-repeat;
}
/* Footer */
.page-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 321px;
  margin: 0 auto;
  background-color: #444444;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  margin: 62px auto;
  width: 1160px;
  justify-content: space-between;
}

.page-footer-logo {
  display: block;
  margin-bottom: 35px;
}

.page-footer .contact-address-text {
  width: 175px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.page-footer-advantages {
  width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-advantages-item {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 35px;
}

.footer-advantages-item:last-child {
  margin-right: 0;
}

.page-footer-link:hover {
  color: #FFC700;
  padding-bottom: 4px;
  border-bottom: 2px solid #FFC700;
}

.page-footer-link:active {
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.footer-social-item:hover {
  background-color: #FFC700;
}

.footer-social-item:active .footer-social {
  opacity: 0.3;
}

.footer-social  {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-telegram {
  width: 14px;
  height: 12px;
  top: 14px;
  left: 12px;
  background-image: url("..//images/foooter/social/telegram.svg");
}

.footer-youtube {
  width: 16px;
  height: 11px;
  top: 15px;
  left: 12px;
  background-image: url("..//images/foooter/social/youtube.svg");
}

.footer-twitter {
  width: 15px;
  height: 14px;
  top: 13px;
  left: 13px;
  background-image: url("..//images/foooter/social/twitter.svg");
}

.footer-social-item:last-child {
  margin-right: 0;
}

.page-footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.footer-contacts {
  width: 249px;
  position: relative;
}

.footer-contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  bottom: 0;
}
.footer-contact-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-contact-phone:hover {
  color: #FFC700;
}

.footer-contact-phone:active {
  opacity: 0.3;
}

.contact-addres {
  font-style: normal;
  margin-bottom: 30px;
}

.footer-contact-addres {
  margin-bottom: 63px;
}
.footer-contacts-phone {
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.inner-header {
  padding-top: 35px;
  padding-left: 200px;
  padding-right: 161px;
  padding-bottom: 35px;
  display: block;
  width: 100%;
  background-color: #fff;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  display: flex;
  color: #000000;
}

.breadcrumbs-item {
  margin-right: 36px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.catalog-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.catalog-product {
  width: 320px;
}

.sorting-product {
  width: 840px;
}

.sorting-product-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.button-catalog-up,
.button-catalog-down {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

.catalog-product-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.select-control {
  margin: 0;
  padding: 0;
}

.sorting-product-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  align-self: center;
}
.catalog-right-column {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 78px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.list-products {
  width: 760px;
  display: grid;
  grid-template-columns: repeat(2,360px);
  column-gap: 40px;
  row-gap: 44px;
  margin-bottom: 44px;
}

.product-card {
  display: flex;
  flex-direction: column;

}
.product-description {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-image {
  object-fit: contain;
  width: 100%;
  height: auto;
  background-color: #F0F0F0;
}

.product-card-title {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

/* Pagination */

.button-show-more {
  margin: 0 auto 44px;
  width: 760px;
  padding: 15px;
  border: 3px solid #E5E5E5;
}

.pagination {
  width: 200px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .pagination-item {

} */

.pagination-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-button {
  padding: 25px;
  cursor: pointer;
}

.pagination-block {
  margin: 0 auto;
  width: 760px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #EBEBEB;
}

/* Main */
.wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.main-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-inner {
  background-color: #f0f0f0;
  width: 100%;
}
