@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

/* Main */
.wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.main-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-index {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-catalog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-inner {
  background-color: #f0f0f0;
  width: 100%;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Page header */
.page-header {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  background-color: #ffe17f;
}

.page-header-catalog {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  min-height: 186px;
  color: #000000;
  background-color: #ffe17f;
}

.header-logo-link {
  margin-top: -20px;
  margin-left: 60px;
  height: 36px;
  margin-bottom: 28px;
  margin-right: auto;
  display: block;
  width: 145px;
  cursor: pointer;
}

.header-logo-link:hover {
  opacity: 0.6;
}

.header-logo-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.header-logo-link:active {
  opacity: 0.3;
}

/* Navigation */
.navigation {
  width: 1040px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 60px;
  padding-bottom: 20px;
}


.navigation-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.navigation-list:first-of-type {
  margin-bottom: 30px;
}

.navigation-list:last-of-type {
  vertical-align: baseline;
}

.navigation-item {
  line-height: 21px;
  position: relative;
}

.navigation-list-advantages {
  width: 471px;
  height: 21px;
  display: flex;
  align-items: baseline;
}

.navigation-list-advantages > .navigation-item {
  height: 21px;
}

.navigation-list-advantages > .navigation-item + .navigation-item {
  margin-left: 45px;
}

.navigation-list-advantages .navigation-link {
  width: 73px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-login {
  width: 230px;
  height: 30px;
  margin: auto 0;
}

.name-login {
  padding-left: 27px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  background-image: url("../images/header/enter.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.name-login:hover {
  opacity: 0.6;
}

.name-login:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.name-login:active {
  opacity: 0.3;
}

.login-escape {
  opacity: 0.3;
  text-decoration: none;
  margin-left: auto;
  bottom: 0;
}

.login-escape:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.navigation-capabilities {
  width: 240px;
  height: 30px;
  margin: auto 0;
}

.login {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
}

.user-capabilities {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
  width: 245px;
}

.compare-icon {
  padding-left: 22px;
  line-height: 30px;
  background-image: url("../images/header/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.navigation-link:active {
  opacity: 0.3;
}

.search-form {
  width: 517px;
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.navigation-input-search {
  width: 359px;
  height: 40px;
  padding-top: 8px;
  padding-left: 48px;
  padding-bottom: 8px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: #ffe17f;
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: 14px 10px;
  border-right: 0;
}

.navigation-input-search::placeholder {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.navigation-input-search:focus {
  outline: none;
}

.navigation-input-search:disabled {
  opacity: 0.3;
}

.search-form label:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}


.search-button {
  display: block;
  height: 40px;
  width: 160px;
  text-decoration: none;
  text-align: center;
  position: relative;
  flex-shrink: 0;
}

.search-button-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: capitalize;
  width: 160px;
  height: 40px;
  padding: 8px 54px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
}

.search-button-text:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.search-button:active .search-link-text {
  color: rgba(255, 255, 255, 0.3)
}

.search-button:disabled {
  opacity: 0.3;
}

.search-button:disabled .search-button-text:hover {
  background-color: inherit;
  color: #000000;
}

.navigation-list:first-of-type .navigation-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}


/* <-- Cart --> */
.cart {
  position: relative;
  justify-self: flex-end;
}

.shop-cart-user {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  font-weight: 400;
  text-transform: capitalize;
  border: 0;
  position: relative;
  cursor: pointer;
  padding-left: 43px;
  background-image: url("../images/header/cart.svg");
  background-repeat: no-repeat;
  background-position: 16px 7px;
}

.shop-cart-indecator {
  position: absolute;
  font-size: 14px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 7px;
  left: 1px;
}

.shop-cart-user:hover {
  opacity: 0.6;
}

.shop-cart-user:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.shop-cart-user:active {
  opacity: 0.3;
}

/* <-- popover cart --> */
.popover-cart {
  position: absolute;
  z-index: 1;
  top: 36px;
  right: -77px;
  width: 320px;
  min-height: 218px;
  box-sizing: border-box;
  background-color: #1A1A1A;
  display: none;
}

.popover-cart::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: -6px;
  left: 153px;
  background-color: #000000;
  transform: rotate(45deg);
}

.popover-cart-active {
  display: block;
  z-index: 2;
}

.cart-list {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  height: 83px;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.cart-item-info {
  display: flex;
}

.cart-item-info:hover {
  opacity: 0.6;
}

.cart-item-info:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.cart-item-info:active {
  opacity: 0.3;
}

.cart-clear-yes {
  display: flex;
}

.cart-clear-no {
  display: none;
}

.cart-item img {
  margin-right: 23px;
}

.cart-item span {
  font-size: 16px;
  line-height: 20px;
}

.delete-cart-item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 10px;
  height: 10px;
  background-image: url("../images/header/cart-item-delete.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 10px;
}

.delete-cart-item:hover {
  opacity: 0.6;
}

.delete-cart-item:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.delete-cart-item:active {
  opacity: 0.3;
}

.cart-item + .cart-item {
  margin-top: 1px;
}

.quantity-cost {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 44px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  align-items: center;
}

.quantity {
  width: 120px;
  margin-right: 10px;
}

.cost {
  width: 150px;
  text-align: right;
}

.box-open-cart {
  width: 320px;
  height: 90px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #000000;
}

.open-cart {
  width: 280px;
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
}

.open-cart:hover {
  background-color: #FFE17F;
}

.open-cart:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.open-cart:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #FFE17F;
}

.open-cart:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.product-catalog {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  width: 293px;
  height: 50px;
  padding: 15px 0;
  margin: 0;
  letter-spacing: 0.2em;
  text-align: start;
  position: relative;
}


.popover-subcatalog {
  position: absolute;
  display: none;
  width: 1160px;
  height: 160px;
  top: 56px;
  left: -60px;
  padding-top: 14px;
  padding-left: 60px;
  padding-bottom: 27px;
  box-sizing: border-box;
  background-color: #FFE17F;
}

.subcatalog-active {
  display: flex;
  z-index: 1;
}

.subcatalog-active + .product-catalog .sub-catalog::before {
  transform: rotate(0deg);
}

.popover-subcatalog a:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.subcatalog-list {
  padding: 0;
  list-style-type: none;
  margin-right: 50px;
}

.subcatalog-list:last-child {
  margin-right: 0;
}

.subcatalog-item a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.subcatalog-item + .subcatalog-item {
  margin-top: 1em;
}

.navigation-item:focus-within .popover-subcatalog {
  display: flex;
  z-index: 1;
}

.product-catalog:hover::after {
  opacity: 1;
}

.product-catalog:hover .sub-catalog {
  opacity: 1;
}

.product-catalog::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  top: 0;
  right: 0;
  border: solid 2px #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.sub-catalog {
  opacity: 0.3;
}

.sub-catalog::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  top: 25px;
  right: 17px;
  background-color: #000000;
}

.sub-catalog::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  top: 25px;
  right: 17px;
  background-color: #000000;
  transform: rotate(90deg);
}


.product-catalog:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

/* Gallery */
.box-number-slider {
  position: absolute;
  z-index: -1;
  margin-top: -5px;
  width: 100%;
  height: 121px;
  text-align: right;
  background-color: #ffe17f;
}

.gallery-item-number {
  position: absolute;
  bottom: 39px;
  right: 49px;
  color: #ffffff;
  vertical-align: bottom;
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
}



.gallery {
  position: relative;
  z-index: 0;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  width: 1160px;
}

.slider-button {
  width: 20px;
  height: 60px;
  align-self: center;
  position: absolute;
  cursor: pointer;
  margin-top: 211px;
  margin-bottom: 289px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-prev {
  margin-left: 30px;
  background-image: url("../images/slider/arrow-prev.svg");
}

.slider-next {
  margin-left: 540px;
  background-image: url("../images/slider/arrow-next.svg");
}

.gallery-image-title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 560px;
  margin-top: 0;
  margin-bottom: 29px;
  padding: 0;
}

.gallery-item {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.slider-description {
  width: 560px;
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.device {
  pointer-events: none;
  margin-top: -34px;
  width: 560px;
  height: 560px;
  display: flex;
}

.gallery-image-description {
  margin-top: 0;
  margin-bottom: 51px;
  color: #444444;
}

.button-more-detailed {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  height: 40px;
  width: 220px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  padding: 8px 23px;
  position: relative;
}


.button-more-detailed::before {
  content: "";
  width: 100%;
  height: 8px;
  left: 0;
  top: 15px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
}

.button-more-detailed:hover::before {
  height: 40px;
  top: 0;
}

.button-more-detailed:focus {
  outline: solid 2px #AF4FFF;
}

.button-more-detailed:active::before {
  background-color: #FFCC33;
}

.block-more-detailed {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 49px;
}

.slider-pagination {
  display: flex;
  justify-self: center;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  list-style-type: none;
}

.slider-pagination-item {
  margin-top: auto;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  margin-bottom: auto;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}


.slider-pagination-button {
  position: absolute;
  width: 12px;
  padding: 0;
  height: 12px;
  border: 2px solid #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-active {
  background-color: #000000;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-item:focus-within {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.slider-pagination-item:focus-within .slider-pagination-button {
  outline: none;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.characteristics-device {
  margin: 0;
  display: grid;
  row-gap: 12px;
  column-gap: 20px;
}

.characteristics-device dd {
  margin: 0;
  font-size: 36px;
  line-height: 30px;
  grid-row: 1/2;
}

.characteristics-device dt {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  grid-row: 2/3;
}

/* Service */
.service-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1160px;
  margin-bottom: 70px;
}

.service-item {
  width: 160px;
}


.service-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}



/* <-- Service items : ...-->*/
.service-box {
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 32px;
}

.service-box:hover {
  background-color: #FFC700;
}

.service-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.service-item:active {
  opacity: 0.3;
}

.glasses-virtual-reallity {
  background-image: url("../images/glasses-virtual-reallity.svg");
}

.selfie-stick {
  background-position: bottom;
  background-image: url("../images/selfie-stick.svg");
}

.action-camera {
  background-image: url("../images/action-camera.svg");
}

.fitness-bracelet {
  background-image: url("../images/fitness-bracelet.svg");
}

.watch {
  background-image: url("../images/watch.svg");
}

.quadrocopter {
  background-image: url("../images/quadrocopter.svg");
}

.service-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  letter-spacing: -0.02em;
}

.service-image {
  color: #000000;
  background-color: #ffe17f;
}


/* List */
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Advantages */
.advantages {
  margin-top: 185px;
  margin-bottom: 70px;
  padding: 0;
  height: 289px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.advantages .wrapper {
  margin-top: -102px;
  height: 319px;
}

.advantages-list {
  position: relative;
  height: 319px;
  width: 287px;
  display: flex;
  flex-direction: column;
}

.advantages-list::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 7px;
  height: 100%;
  background-color: #000000;
}

.advantages-item {
  position: relative;
  z-index: 0;
  align-items: center;
  display: flex;
  align-content: center;
}


.advantages-item:first-child {
  margin-top: 64px;
  margin-bottom: 35px;
}

.advantages-item:last-child {
  margin-top: 35px;
  margin-bottom: 0;
}

.advantages-title {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.advantages-text {
  margin: 0;
  padding: 0;
  width: 475px;
  color: #444444;
}

.advantages-description {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-left: 116px;
  margin-bottom: auto;
  width: 729px;
  justify-content: space-between;
}

.advantages-image-delivery {
  margin-top: 5px;
  margin-right: 35px;
}

/* Button */
button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}




.button-advantages {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  width: 160px;
  height: 40px;
  letter-spacing: 0.2em;
  padding: 8px 23px;
  position: relative;
}

.button-advantages::before {
  content: "";
  width: 160px;
  height: 8px;
  left: 0;
  top: 15px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
}

.button-advantages:hover::before {
  height: 40px;
  top: 0;
}

.button-advantages:focus {
  outline: solid 2px #AF4FFF;
}

.button-advantages:active::before {
  background-color: #FFCC33;
}

.button-active {
  height: 40px;
  top: -10px;
  left: 0;
}

.advantages-item .button-active {
  background-color: #000000;
  color: #ffe17f;
  width: 100%;
  padding-right: 125px;
  letter-spacing: 0.2em;
  text-align: center;
}

.button-active:hover {
  color: rgba(255, 225, 127, 0.5);
}

.button-active:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.button-active:active {
  color: rgba(255, 225, 127, 0.3);
}

.transport-company-list {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 30px;
  line-height: 20px;
  color: #000000;
  list-style-type: none;
}

.transport-company-item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 19px;
}

.transport-company-item:last-child {
  margin-bottom: 32px;
}

.transport-company-name {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.transport-company-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #FFCC33;
  border-radius: 50%;
  top: 6px;
  left: 3px;
}

.button-delivery {
  margin-bottom: 70px;
  padding: 0;
  width: 1160px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button-delivery:hover .icon-delivery-car {
  background-color: #FFCC33;
}

.button-delivery:hover .icon-explation {
  opacity: 1;
}

.button-delivery:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.button-delivery:active {
  opacity: 0.3;
}

.icon-delivery-car {
  width: 125px;
  height: inherit;
  background-image: url("../images/icon-car-delivery.svg");
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center center;
}

.delivery-text {
  max-width: 910px;
  flex-grow: 1;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
}

.icon-explation {
  margin: 30px auto;
  width: 40px;
  height: 40px;
  background-image: url("../images/icon-explanation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  opacity: 0.3;
}

/* About us and Contact */
.container-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  width: 520px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts {
  width: 532px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.about-us-description,
.contact-description {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-us-title,
.contact-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 47px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-title::after,
.contact-title::after {
  content: "";
  width: 84px;
  height: 7px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000000;
}


.contact-link,
.about-us-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  height: 40px;
  min-width: 259px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
  padding: 8px 0;
  letter-spacing: 0.2em;
  position: relative;
}

.about-us-link {
  width: 270px;
}

.contact-link::before,
.about-us-link::before {
  content: "";
  width: 100%;
  height: 8px;
  left: 0;
  top: 15px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
}

.contact-link:hover::before,
.about-us-link:hover::before {
  height: 40px;
  top: 0;
}

.contact-link:focus,
.about-us-link:focus {
  outline: solid 2px #AF4FFF;
}

.contact-link:active::before,
.about-us-link:active::before {
  height: 40px;
  top: 0;
  background-color: #FFCC33;
}

.contact-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  color: #444444;
  font-size: 24px;
}

.contact-addres-text {
  margin: 0;
  padding: 0;
  max-width: 509px;
}

.contact-phone {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contact-phone:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.contact-schedule {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style-type: none;
}

/* Mailing */
.mailing {
  display: flex;
  padding-top: 64px;
  padding-bottom: 57px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f0f0;
}

.mailing-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 141px;
}

.mailing-title {
  margin: 0;
  margin-left: 7px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
}

.mailing-text {
  margin: 0;
  padding-top: 10px;
  padding-left: 5px;
  width: 560px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.input-email {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  width: 557px;
  height: 57px;
  box-sizing: border-box;
  border: 0;
  color: rgba(68, 68, 68, 1);
  border-bottom: 3px solid #C4C4C4;
  background-color: inherit;
  padding-top: 11px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 11px;
}

.input-email::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.input-email:focus {
  outline: none;
  background-color: #DCDCDC;
}

.input-email:disabled {
  opacity: 0.3;
}

.input-email-error {
  border-color: #ff3d3d;
}

.submit-email {
  display: flex;
  min-width: 1158px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.button-subscribe {
  margin: 0;
  box-sizing: border-box;
  width: 253px;
  height: 57px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 3px solid #C4C4C4;
}

.button-subscribe:hover {
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
}

.button-subscribe:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.button-subscribe:active {
  color: rgba(255, 225, 255, 0.3)
}

.mailing-form {
  display: flex;
  align-items: center;
  width: 810px;
}

.signature-free {
  position: relative;
  margin-left: auto;
  padding-left: 32px;
  align-self: center;
  color: #444444;
}

.signature-free::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  left: 0;
  background-image: url("../images/icon-confirmation.svg");
  background-repeat: no-repeat;
}

/* Footer */
.page-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 321px;
  margin: 0 auto;
  background-color: #444444;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  margin: 62px auto;
  width: 1160px;
}

.page-footer-logo {
  display: block;
  margin-bottom: 30px;
}

.page-footer-logo:hover {
  opacity: 0.6;
}

.footer-logo-link {
  display: block;
  width: 145px;
  cursor: pointer;

}

.footer-logo-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.page-footer-logo:active {
  opacity: 0.3;
}



.page-footer .contact-address-text {
  width: 239px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.page-footer-advantages {
  width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 56px;
}

.footer-advantages-item {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 32px;
}

.footer-advantages-item:last-child {
  margin-right: 0;
}

.page-footer-link:hover {
  color: #FFC700;
  padding-bottom: 4px;
  border-bottom: 2px solid #FFC700;
}

.page-footer-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.page-footer-link:active {
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.footer-social-item:hover {
  background-color: #FFC700;
}

.footer-social-item:active .footer-social {
  opacity: 0.3;
}

.footer-social {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.footer-telegram {
  width: 14px;
  height: 12px;
  padding: 14px 13px;
  background-image: url("../images/foooter/social/telegram.svg");
}

.footer-youtube {
  width: 16px;
  height: 11px;
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 14px;
  background-image: url("../images/foooter/social/youtube.svg");
}

.footer-twitter {
  width: 15px;
  height: 14px;
  padding: 13px;
  background-image: url("../images/foooter/social/twitter.svg");
}

.footer-social-item:last-child {
  margin-right: 0;
}

.page-footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.footer-contacts {
  width: 249px;
  position: relative;
  margin-right: 110px;
}

.footer-contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  left: 2px;
  background-color: #FFC700;
  bottom: 15px;
}

.footer-contact-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-contact-phone:hover {
  color: #FFC700;
}

.footer-contact-phone:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.footer-contact-phone:active {
  opacity: 0.3;
}

.contact-addres {
  font-style: normal;
  margin-bottom: 30px;
}

.footer-contact-addres {
  margin-bottom: 60px;
}

.footer-contacts-phone {
  width: 175px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo-htmlacademy-link {
  margin-left: 60px;
  margin-bottom: -7px;
}

.logo-htmlacademy-link svg {
  fill: #FFC700;
}

.logo-htmlacademy-link svg:hover {
  fill: #ffffff;
}

.logo-htmlacademy-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.logo-htmlacademy-link svg:active {
  fill: #ffffff;
  opacity: 0.3;
}

.inner-header {
  margin-top: 35px;
  margin-left: 60px;
  margin-bottom: 35px;
  display: block;
  width: 1040px;
  background-color: #fff;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  display: flex;
  color: #000000;
  justify-self: start;
  font-size: 16px;
}

.breadcrumbs-item {
  position: relative;
  height: 19px;
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumbs-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  position: relative;
  display: block;
  margin-right: 36px;
}

.breadcrumbs-link::after {
  content: url("../images/catalog/breadcrumbs-arrow.svg");
  width: 4px;
  height: 7px;
  position: absolute;
  opacity: 0.3;
  right: -20px;
  top: -3px;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

.catalog-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.catalog-product {
  margin-left: 60px;
  margin-right: 40px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catalog-filter {
  margin: 0;
  padding: 0;
}

.range {
  position: relative;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 32px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  background-color: rgba(235, 235, 235, 1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(235, 235, 235, 0.5);
}

.range-toggle:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.range-toggle:active {
  background-color: #000000;
}

.range-wrapper-inputs {
  position: absolute;
  display: flex;
  top: 14px;
  left: -16px;
  margin-bottom: 3px;
}

.catalog-filter-label {
  display: flex;
  width: 59px;
  margin-right: 48px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-label:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.range-input {
  padding: 0 2px;
  max-width: 58px;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  border: none;
  text-align: left;
  background-color: transparent;
  appearance: textfield;
  display: inline-block;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  padding: 0;
  border: 0;
  margin-bottom: 35px;
}

.catalog-filter-group:first-child .catalog-filter-title {
  margin-bottom: 27px;
}

.catalog-filter-title {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  border-top: 2px solid #000000;
}

.catalog-filter-item {
  height: 20px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.control {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-left: 36px;
  height: 20px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-mark-radio {
  border-radius: 50%;
}

.control-mark-radio::before {
  position: absolute;
  content: none;
  top: 4px;
  left: 4px;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.control-mark:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.control-label {
  font-size: 16px;
  color: #000000;
  line-height: 19px;
}

.input-control:disabled + .control-mark {
  opacity: 0.1;
}

.input-control:disabled ~ .control-label {
  color: rgba(0, 0, 0, 0.1);
}

.input-control[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/catalog/mark-checkbox.svg");
  background-repeat: no-repeat;
  background-position: 3px 3px;
  border-color: #000000;
}

.input-control[type="radio"]:checked + .control-mark-radio::before {
  content: "";
}

.input-control[type="radio"]:checked + .control-mark-radio {
  border-color: #000000;
}

.button-filter-show {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  height: 40px;
  width: 220px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  padding: 8px 23px;
  position: relative;
  z-index: 0;
}


.button-filter-show::before {
  content: "";
  width: 220px;
  height: 8px;
  left: 0;
  top: 15px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
}


.button-filter-show:hover::before {
  height: 40px;
  top: 0;
}

.button-filter-show:focus {
  outline: solid 2px #AF4FFF;
}

.button-filter-show:active::before {
  background-color: #FFCC33;
}

.sorting-product {
  width: 840px;
}

.sorting-product-header {
  margin: 0 40px;
  display: flex;
  height: 70px;
  justify-content: space-between;
  flex-grow: 1;
}

.product-header-buttons {
  margin: auto 0;
  display: flex;
  width: 60px;
  height: 30px;
  align-items: center;
}

.button-catalog-up,
.button-catalog-down {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

.button-catalog-up::before {
  content: url("../images/catalog/catalog-arrow-up.svg");
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.button-catalog-down::before {
  content: url("../images/catalog/catalog-arrow-down.svg");
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.button-catalog-up:hover::before,
.button-catalog-down:hover::before {
  opacity: 0.5;
}

.button-catalog-up:focus,
.button-catalog-down:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}


.button-catalog-up:active::before,
.button-catalog-down:active::before {
  opacity: 1;
}


.catalog-product-title {
  margin-top: 25px;
  margin-bottom: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.select-control {
  margin: auto 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  height: 30px;
  padding: 0;
  padding-right: 22px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.select-control:active {
  opacity: 0.3;
}

.sorting-product-title {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 0.2em;
}

.catalog-right-column {
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 78px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.list-products {
  width: 760px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  margin-bottom: 44px;
}

.card {
  width: 360px;
  height: 380px;
}

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 360px;
  height: 452px;
}

.new-product {
  top: 27px;
  right: 27px;
  position: absolute;
  width: 40px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  padding-top: 19px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 19px;
  color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.product-description {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-card-image {
  object-fit: contain;
  width: 100%;
  height: auto;
  background-color: #F0F0F0;
}

.product-card-title {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.product-card:hover .card {
  opacity: 0.8;
}

.product-card:hover .product-card-title {
  opacity: 0.6;
}

.product-card:hover .catalog-more-detailed {
  z-index: 1;
}

.product-card:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.catalog-more-detailed {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  height: 40px;
  width: 220px;
  top: 170px;
  left: 70px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 8px 23px;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}


.catalog-more-detailed::before {
  content: "";
  width: 220px;
  height: 8px;
  left: 0;
  top: 15px;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
}


.catalog-more-detailed:hover::before {
  height: 40px;
  top: 0;
}

.catalog-more-detailed:focus {
  outline: solid 2px #AF4FFF;
}

.catalog-more-detailed:active::before {
  background-color: #FFCC33;
}



/* Pagination */

.button-show-more {
  margin: 0 auto 44px;
  width: 760px;
  padding: 15px;
  border: 3px solid #E5E5E5;
  letter-spacing: 0.2em;
}

.button-show-more:hover {
  border-color: #000000;
}

.button-show-more:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.button-show-more:active {
  opacity: 0.3;
}

.pagination {
  width: 200px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  opacity: 0.3;
  text-decoration: none;
}

.pagination-link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-button {
  padding: 25px;
  cursor: pointer;
  letter-spacing: 0.2em;
  box-sizing: border-box;
}

.pagination-block {
  margin: 0 auto;
  width: 760px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #EBEBEB;
}

.pagination-button:hover {
  background-color: #DCDCDC;
}

.pagination-button:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}



/* <-- Modal window--> */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-active {
  display: flex;
}

.modal {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 62px 70px;
  border: 10px solid #000000;
}

.modal-order {
  width: 760px;
}

.modal-close-button {
  position: absolute;
  top: 74px;
  right: 96px;
  width: 26px;
  height: 26px;
  padding: 0;
  background-image: url("../images/modal/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 42px;
}

.modal-field-title {
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.modal-field-group {
  display: flex;
  flex-wrap: wrap;
}

.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

.modal-field:nth-child(odd) {
  margin-right: 40px;
}

.label-user-name {
  width: 360px;
}

.order-form-field {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: #F0F0F0;
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: 325px 24px;
}

.order-form-field::placeholder {
  font: inherit;
  opacity: 0.3;
}

.modal-user-name {
  background-image: url("../images/modal/icon-person.svg");
}

.modal-user-email {
  background-image: url("../images/modal/icon-mail.svg");
}

.modal-user-email:hover {
  background-color: #DCDCDC;
}

.modal-user-email:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
}

.modal-user-email.error {
  outline: solid 2px #FF3D3D;
}

.modal-user-email.error + .form-field-subtext {
  color: #FF3D3D;
}

.modal-user-email:disabled {
  opacity: 0.3;
}

.label-user-email {
  width: 360px;
}

.form-field-subtext {
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}

.label-order-comment {
  width: 540px;
}

.title-order-quantity {
  width: 180px;
  position: relative;
}

.label-order-quantity {
  position: relative;
  width: 180px;
}

.icon-modal-explation {
  position: absolute;
  top: 3px;
  left: 121px;
  width: 26px;
  height: 26px;
  line-height: 20px;
  background-image: url("../images/modal/icon-explanation.svg");
  background-size: 26px;
  background-repeat: no-repeat;
}

.tooltip {
  position: absolute;
  display: none;
  top: 36px;
  left: -19px;
  width: 200px;
  padding: 19px;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
}

.tooltip::before {
  position: absolute;
  top: -3px;
  left: 146px;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #000000;
  transform: rotate(45deg);
}

.tooltip p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.icon-modal-explation:hover + .tooltip {
  display: block;
}

.icon-modal-explation:focus + .tooltip {
  display: block;
}

.order-quantity {
  display: flex;
  margin-top: 4px;
  width: 180px;
  height: 60px;
}

.order-quantity.error {
  outline: solid 2px #ff3d3d;
}

.input-order-quantity {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 60px;
  height: 60px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  appearance: textfield;
  background-color: #F0F0F0;
}

.input-order-quantity::-webkit-outer-spin-button,
.input-order-quantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
  padding: 0;
}

.quantity-change-button {
  margin: 0;
  padding: 0;
  border: none;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background-color: #F0F0F0;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

.quantity-change-button:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 2px;
  z-index: 1;
}

.button-quantity-down {
  background-image: url("../images/modal/icon-minus.svg");
}

.button-quantity-up {
  background-image: url("../images/modal/icon-plus.svg");
}


.modal-submit-button {
  position: relative;
  width: 200px;
  height: 40px;
  z-index: 0;
}

.text-sumbit-button {
  z-index: 0;
  letter-spacing: 0.2em;
}

.modal-submit-button::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 16px;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
}

.modal-submit-button:hover::before {
  top: 0;
  height: 40px;
}

.modal-submit-button:focus {
  outline: solid 2px #AF4FFF;
}

.modal-submit-button:active::before {
  top: 0;
  height: 40px;
  background-color: #FFCC33;
}

.modal-submit-button:disabled {
  opacity: 0.3;
}
